<div>
  <md-list>
    <svg style="display: none;">
      <symbol id="top">
        <rect width="55px" height="10px"></rect>
      </symbol>
      <symbol id="middle">
        <g transform="translate(2.5 0)">
          <rect width="50px" height="25px"></rect>
          <rect width="25px" height="5px" fill="white" x="12px" y="10px"></rect>
        </g>
      </symbol>
      <symbol id="bottom">
        <path d="M0,0 L50,0 L50,8 L45,8 L45,5 L5,5 L5,8 L0,8"></path>
      </symbol>
    </svg>
    <template ngFor let-hive [ngForOf]="hives">
      <md-list-item>
        <div class="badge" fxLayout="column" fxLayoutAlign="'center center'">
          <div class="notifications-icon" md-list-avatar="" fxLayout="" fxLayoutAlign="center center">
            1
          </div>
          <div class="next-visit">In 36 days</div>
        </div>
        <div class="hive">
          <svg width="100px" height="50px">
            <g transform="translate(15 0)">
              <use xlink:href="#top" class="green"></use>
              <use y="12px" xlink:href="#middle" class="green"></use>
              <use x="2px" y="38px" xlink:href="#bottom" class="green"></use>
            </g>
          </svg>
        </div>
        <div class="notes" fxLayout="column">
          <b>14 Days Ago</b>

        </div>
      </md-list-item>
    </template>
  </md-list>
</div>
