<div fxFlex fxFlexFill fxLayout="column">
  <md-grid-list cols="3" rowHeight="160px" fxFlex fxFlexFill>
    <template ngFor let-hive [ngForOf]="hives">
      <md-grid-tile>
        <svg style="display: none;">
          <symbol id="frame">
            <path d="M0 0 L40 0 L40 30 L35 35 L35 150 L5 150 L5 35 L0 30Z" fill="#ccc" stroke="#333" stroke-width="1px"></path>
          </symbol>
        </svg>
        <svg [bhHive]="hive">
          <g class="frames"></g>
        </svg>
      </md-grid-tile>
    </template>
  </md-grid-list>
</div>
